.footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  padding: 30px 20px;
  width: 100%;
  height: var(--footer-height);
  text-align: center;
  background-color: #ffffff;
  z-index: 9;

  
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  .footerNav {
    ul {
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 6px;


      li {
        a {
          display: block;
          padding: 10px 7px;
        }
      }
    }
  }
  .logo {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
  }
  .copyright {
    display: inline-block;
    margin-top: 25px;
  }
}