:root {

  --header-height: 72px;
  --footer-height: 212px;

  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: var(--header-height);
  /* padding-bottom: var(--footer-height); */
  position: relative;
}
.hidden {
  display: none;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}
a {
  color: currentColor;
  text-decoration: inherit;
}
a:hover {
  color: currentColor;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;

}